# URL do gateway de API para chamadas do lado do servidor (Server-side/SSR)
GATEWAY_URL=https://gateway-api.salmonrock-4d3f2812.brazilsouth.azurecontainerapps.io

# URL pública do gateway de API para chamadas do lado do cliente (Client-side)
NEXT_PUBLIC_GATEWAY_URL=https://gateway-api.salmonrock-4d3f2812.brazilsouth.azurecontainerapps.io

# URL da própria aplicação implantada no Netlify (importante para redirects do OAuth)
NEXT_PUBLIC_APP_URL=https://seu-app-no.netlify.app
